/* YeyeYeee código aquí */
/*COLOR DE FONDO*/
*{
	background-color: #3e3f41; 
}
/*ESPACIO AL HEADER Y ALINEACION*/
header{
	padding: 70px; 
	text-align: center;
}
/*ESTILOS DE LA IMAGEN*/
.imagen{
	width: 50%;
	height: 50%;
}
/*TITULO DEL HEADER*/
.titulo{
	color: #f6a800;
	font-weight: bolder;
}
/*ESTILOS DEL BOTON*/
.btn-color{
	background-color: #f6a800;
	color: #3e3f41;
	width: 100%;
	border: 0px;
}
/*TEXTO BLANCO*/
.blanco{
	color: white;
}
/*ALINEADO IZQ*/
.izq{
	text-align: left;
}
/*TEXTO NARANJO*/
.orange{
	color: #f6a800;
}
/*ALINEACIÓN DESDE ARRIBA*/
.top{
	padding-top: 30px;
}

/*ESTILOS MENU-APP*/
/*ESTILO HAMBURGUESA*/
.navbar-toggle{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
/*ALINEAR CENTRO*/
.centro{
	text-align: center;
}
/*TEXTO CENTRO NAV*/
.navbar-brand{
	padding: 15px 20%;
	line-height: 30px;
}
/*COLOR TEXTO CENTRO NAV*/
.navbar-default .navbar-brand{
	color: white;
}
/*BORDE HAMBURGUESA*/
.navbar-default .navbar-toggle{
	border: 0px;
}
/*QUITAR BORDE NAVBAR*/
.navbar-default{
	border: 0px;
}
/*ESTILOS MENU*/
.menu{
	background-color: #a9a9ab;
	height: 100vh;
	padding-top: 50%;
}
/*ESPACIO ARRIBA*/
.mtop{
	margin-top: 10px;
}