/* YeyeYeee código aquí */
/*COLOR DE FONDO*/
*{
	background-color: #3e3f41; 
}
/*ESPACIO AL HEADER Y ALINEACION*/
header{
	padding: 70px; 
	text-align: center;
}
/*ESTILOS DE LA IMAGEN*/
.imagen{
	width: 50%;
	height: 50%;
}
/*TITULO DEL HEADER*/
.titulo{
	color: #f6a800;
	font-weight: bolder;
}
/*ESTILOS DEL BOTON*/
.btn-color{
	background-color: #f6a800;
	color: #3e3f41;
	width: 100%;
	border: 0px;
}
/*TEXTO BLANCO*/
.blanco{
	color: white;
}
/*ALINEADO IZQ*/
.izq{
	text-align: left;
}
/*TEXTO NARANJO*/
.orange{
	color: #f6a800;
}
/*ALINEACIÓN DESDE ARRIBA*/
.top{
	padding-top: 30px;
}

/*ESTILOS MENU-APP*/
/*ESTILO HAMBURGUESA*/
.navbar-toggle{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
/*ALINEAR CENTRO*/
.centro{
	text-align: center;
}
.navbar-header{
	padding: 10px;
}
/*ESTILOS MENU*/
.menu{
	background-color: #a9a9ab;
	height: 100vh;
	padding-top: 50%;
}
/*ESPACIO ARRIBA*/
.mtop{
	margin-top: 10px;
}


/*Prueba SIDENAV*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #3e3f41;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f6a800;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
}

/*TAMAÑO ICONO HAMBURGUESA*/
.fa-bars{
	font-size: 24px;
}
.fa-times{
	background-color: transparent;
}
.icono{
	position: relative;
	right: 150px;
}

/*ESTILOS ICONOS*/
.fa-user, .fa-usd, .fa-th, .fa-file-text, .fa-long-arrow-right{
	color: #f6a800;
	background-color: transparent;
	padding: 5px;
}
